<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <a href="/register">Register</a>
    <h2>Login</h2>
    <form method="POST" action="/users/login">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" />
      <label for="password">Password</label>
      <input type="text" name="password" id="password" />
      <button>Login</button>
    </form>

    <!-- <a href="http://localhost:3001/users/profile">Your profile</a> -->
  </body>
</html>