<!DOCTYPE html>
<html>
    <head>
        <title>
            User Profile
        </title>
    </head>
    <body>
        <p>username: {{username}}</p>
        <p>age: {{age}}</p>
        <p>email: {{email}}</p>
    </body>

    {{!-- <script src="js/profile.js"></script> --}}
</html>