<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <p>Congrats, you've successfully logged in or registered!</p>
    <a href="http://localhost:3001/users/profile">Your profile</a>
    
    <form method="post" action="/users/logout">
      <button>Logout</button>
    </form>
  </body>
</html>